extends templates/layout

block content
    video(id="video" autoplay loop muted playsinline poster="img/video-bg.jpg").video
        source(src="video/bg.mp4" type="video/mp4")
        source(src="video/bg.webm" type="video/webm")
        source(src="video/bg.ogv" type="video/ogg")
    div.content.content_hide.content_index
        div.content__check-age
            include components/check-age
        div.content__intro
            include components/header
            include components/gallery
        div.content__news
            include components/sec2