div.check-age
	p.check-age__title.
		Вам есть 18 лет?
	form.check-age__form
		button.check-age__form-btn.check-age__form-btn_left.js-check-age-confirm.
			да
		button.check-age__form-btn.check-age__form-btn_right.js-check-age-failure.
			нет
