footer.footer
	div.container.footer__container
		div.footer__item
			p.footer__title.
				© PROДЫМ, 2017.
			p.footer__text.
				Информация на сайте представлена исключительно для ознакомления. Мы не рекламируем табак и курительные принадлежности.
		div.footer__item.footer__item_right
			p.footer__title
				a(href="tel:" + phoneAttr).footer__link.
					#{phone}
			p.footer__text.
				Минздрав предупреждает, курение опасно для Вашего здоровья.