header.header
    div.container
        div.header__logo
            a(href="").header__logo-link
                img(src="img/logo.png", alt="").header__logo-img
        div.header__info
            div.header__info-buttons
                a(href="").header__info-btn.
                    новости и акции
                a(href="").header__info-btn.
                    заказть звонок
            div.header__info-social
                ul.header__social-list
                    li.header__social-item
                        a(href="").header__social-link.
                a(href="89274435181").header__info-phone.
                    8 (927) 443-51-81