div#actions.sec2
	div.container.sec2__container
		div.sec2__posts
			div.sec2__row
				div.sec2__col.sec2__col_action
					div.sec2__col-title
						a(href="actions.html" target="_blank").sec2__col-link.
							акции
					div.posts.posts_action.js-actions
						//div.post
							div.post__img
							div.post__info
								div.post__title
									p.
										новость
								div.post__text.
									Текст акции, для детей старше 18 лет. Текст акции, для детей старше 18 лет. Текст акции, для детей старше 18 лет. Текст акции, для детей старше 18 лет. Текст акции, для детей старше 18 лет.
				div.sec2__col
					div.sec2__col-title.sec2__col-title_news
						a(href="news.html" target="_blank").sec2__col-link.
							новости
					div.posts.posts_news.js-news
	include ../components/footer